@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}
a {
  text-transform: lowercase;
  color: black;
  text-decoration: none;
  opacity: inherit;
}
#menu {
  height: 1em;
  width: 1em;
  top: 0.125em;
  position: relative;
  margin-right: 0.75em;
  cursor: pointer;
}
.line {
  fill: none;
  stroke: black;
  stroke-width:8;
}
#menu #upper, #menu #lower {
  transition: transform 0.5s ease;
  transform: translate(0,0), rotate(0);
  transform-origin: 50px 50px;
  
}
#menu.opened #upper {
  transform: translate(-10px, 10px) rotate(45deg);
}
#menu.opened #lower {
  transform: translate(-10px, -10px) rotate(-45deg);
}

body {
  background-color: #eee;
  font-size: 1.2rem;

  font-family: "Lato", sans-serif;
}

#signature {
  height: 5em;
}
#signature > path {
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: draw 2s linear forwards;
}

#signature > path:nth-child(2) {
  animation-delay: 400ms;
}
#signature > path:nth-child(3) {
  animation-delay: 800ms;
}
#signature > path:nth-child(4) {
  animation-delay: 1200ms;
}
#signature > path:nth-child(5) {
  animation-delay: 1500ms;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes opacity {
  to {
    opacity: 1;
  }
}

.top,
.bottom {
  position: absolute;
  left: 2em;
  right: 2em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  opacity: 0;
  animation: opacity 1.5s ease 2s forwards;
}
.top {
  top: 2em;
}
.bottom {
  bottom: 2em;
}

.list {
  display: flex;
  gap: 1em;
}

.gray {
  color: gray;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
